body{
  display: flex;
}
#sidebar{
  width: 300px;
  height: 100vh;
  position: sticky;
  background-color: rgb(24, 53, 68);
  position:relative;
  /*border-right: 2px solid;
  border-right-style: dashed;
  border-right-color: rgb(254, 162, 77);
  border-left-width:1px;*/
}
.flex-container{
  display: flex;
  width: 100vw;
  justify-content: center;
  background-color: rgb(241,241,241);

}
#cartlist{
  display: flex;
  flex-direction:column;
  height: 450px;
  color: white;
  font-weight: bold;
}
#in-cartlist{
  display: flex;
  justify-content: space-around;
}
#name-item{
  width: 150px;
}
.sidebar-col{
  display: flex;
  flex-direction:column;
  justify-content: space-around;
}
#button{

}
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.2s; /* Safari */
  transition-duration: 0.2s;
  cursor: pointer;
}
.button-hover:hover {
  background-color: white;
  color: black;
  border: 1px solid #4CAF50;
}
.checkoutset{
  display: flex;
  flex-direction:column;
  align-items: center;
  color: white;
}
#total-content{
  margin-top: 10px;
}
#cartfont{
  font-size: 20px;
  font-weight: bolder;
}
#cart-div{
  text-align: center;
}
.hrwidth{
  border-color: rgb(254, 162, 77);
  border-style: dashed;
  width: 250px;
}
.set-text-white{
  color: white;
}

.flex-wrap{
  /*display: -ms-flexbox;*/
  display: flex;
  /*-ms-flex-pack: center;*/
  /*justify-content: center;*/
  flex-wrap: wrap;
  flex: 1;
  width: 1065px;
  height: 100vh;
  overflow-y:auto;
  overflow-y: scroll;
}
.flex-item{
  /*background: rgb(229,239,139);*/
  padding: 10px;
  height: 300px;
  margin: 5px;
  margin-left: 15px;
  flex-basis: 325px;
  /*border: 1px solid;*/
  border-color: rgb(215, 213, 211);
  border-radius: 1em;
  transition-duration: 0.4s;
  cursor: pointer;
}
.flex-item:hover{
  background: rgb(205,214,218);
  box-shadow: 0 10px 10px 0 rgba(0,0,0,0.24),0 10px 50px 0 rgba(0,0,0,0.19);
}
.flex-img{
  background: white;
  height: 200px;
  flex-basis: 325px;
  border-radius: 1em;
}
.but-cart{
  color: white;
  height: 40px;
  width: 125px;
  float: right;
  margin-top: 5px;
  background: rgb();
  border: rgb(247, 247, 167);
}
.but-cart:hover{
  background: rgb(243,111,54);
}

@media (max-width:767px) {
  .flex-item {
    flex-basis: 500px;
  }
}
#content-name{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}
